<div class="container">
	<div class="col-sm-10">
		<h2>Edit Your Profile<small></small></h2>
		<p class="lead">Input data into the fields where you want your data overwritten.</p>
		<form class="form-horizontal" action="/users/profile/edit" method="POST" role="form">

			<div class="form-group">
				<label class="col-sm-2 control-label">Username</label>
				<div class="col-sm-6">
					<p class="form-control-static"><%= current_user.name %></p>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Email</label>
				<div class="col-sm-6">
					<p class="form-control-static"><%= current_user.email %></p>
				</div>
			</div>

			<div class="form-group">
				<label for="home_state" class="col-sm-2 control-label">Home state</label>
				<div class="col-sm-6">
					<select class="form-control" name="home_state" value="<%= current_user.home_state %>" id="home_state">
						<option value=""></option>
						<% @states.each do |state| %> 
							<% if current_user.home_state == state["abbr"] %>
								<%= "<option value=\"#{state["abbr"]}\" selected>#{state["name"]}</option>" %>
							<% else %>
								<%= "<option value=\"#{state["abbr"]}\">#{state["name"]}</option>" %>
							<% end %>
						<% end %>
					</select>   
				</div>
				<p class="help-block">Select your home state.</p>
			</div>

			<div class="form-group">
				<label for="zodiac_sign" class="col-sm-2 control-label">Zodiac Sign</label>
				<div class="col-sm-6">
					<select class="form-control" name="zodiac_sign" id="zodiac_sign">
						<option value=""></option>
						<% @zodiac_signs.each do |sign| %>
							<% if current_user.zodiac_sign == sign %>
								<%= "<option value=\"#{sign}\" selected>#{sign}</option>" %>
							<% else %>
								<%= "<option value=\"#{sign}\">#{sign}</option>" %>
							<% end %>
						<% end %>
					</select>
				</div>
				<p class="help-block">Select your zodiac sign.</p>
			</div>

			<div class="form-group">
				<label for="avatar_url" class="col-sm-2 control-label">Avatar URL</label>
				<div class="col-sm-6">
					<input class="form-control" name="avatar_url" value="<%= current_user.avatar_url %>">
				</div>
				<p class="help-block">Right click any image and select "Copy Image URL".</p>
			</div>

			<div class="form-group">
				<label for="favorite_song_url" class="col-sm-2 control-label">Spotify Song URL</label>
				<div class="col-sm-6">
					<input class="form-control" name="favorite_song_url" value="<%= current_user.favorite_song_url %>">
				</div>
				<p class="help-block">Right click any song, album or playlist in Spotify and select "Copy HTTP Link".</p>
			</div>

			<div class="form-group">
				<label for="bio" class="col-sm-2 control-label">Short Bio</label>
				<div class="col-sm-6">
					<textarea class="form-control" placeholder="Type in something about yourself here." rows=4 name="bio" id="bio"><%= current_user.bio %></textarea>
				</div>
			</div>

			<input type="hidden" name="_method" value="PATCH">

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-8">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>

		</form>
	</div>
</div>